repos
vmware-tools-distrib
Downloads

.vim/bundle
.maker
.sbt
.ssh
.zinc
.gnome
.gnome2
.ICEauthority
.Xauthority
.bash_history
.bash_logout
.cache/
.cinnamon/
.config/
.dbus/
.dmrc
.gconf/
.gitconfig
.gksu.lock
.histfile
.ivy2/
.local/
.mozilla/
.oracle_jre_usage/
.pki/
.profile
.scala_history
.viminfo
.xsession-errors
.zcompdump

